Package: tpflow
Version: 1.0.3
Replaces: tpflow
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Aleksandrs Livincovs <aleksandrs.livincovs@gmail.com>
Description: Thingplex TpFlow is IoT rule and flow engine.
